.content {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.title {
  text-align: center;
  margin: 16px;
}

.title h1 {
  font-weight: bold;
  font-size: 20px;
}

form {
  width: 300px;
}

form select {
  height: 40px;
}

.campu {
  position: relative;
  display: flex;
  flex-direction: column;
}

.role i {
  margin-left: 10px;
  font-size: 14px;
}

.campu input {
  border-radius: 5px;
  padding: 8px;
  border: none;
  outline: none;
  background: var(--gray-table);
}

.campu select {
  background: var(--gray-table);
}

ul {
  margin-left: 25px;
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

ul li {
  color: var(--white);
}

.campu select {
  border-radius: 5px;
}

.campu label {
  font-weight: bold;
  margin-left: 5px;
}
.campu .alert {
  color: red;
  position: absolute;
  top: 40px;
  margin-left: 270px;
}
.errorUser {
  border: 1px solid var(--red-primary-color) !important;
  position: relative;
}

.errorUser i,
.errorUser input,
.errorUser input::placeholder {
  color: var(--red-primary-color) !important;
}

#nombre:hover ~ .popoverUser,
#apellido:hover ~ .popoverUser,
#documento:hover ~ .popoverUser,
#telefono:hover ~ .popoverUser,
#correo:hover ~ .popoverUser {
  visibility: visible;
  transition: all 0.5s ease-in;
}

.popoverUser {
  position: absolute;
  top: 30px;
  right: 48px;
  padding: 8px;
  border-radius: 8px;
  background: var(--red-primary-color);
  color: var(--white);
  z-index: 1;
  visibility: hidden;
  display: flex;
  align-items: center;
}

.popoverUser::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background: var(--red-primary-color);
  right: -6px;
  z-index: -1;
  transform: rotate(45deg);
}

.popoverUser ul {
  list-style: none;
}

/* Tablet */

@media (min-width: 768px) {
  .popoverUser {
    top: 25px;
    margin-bottom: 5px;
  }
}
/* Desktop */

@media (min-width: 1152px) {
  .content {
    align-items: center;
    height: 560px;
  }

  form {
    width: 50%;
    display: flex;
    margin: auto;
    padding: 8px 16px;
    flex-wrap: wrap;
    justify-content: space-around;
    background: var(--gray-table);
    border-radius: 25px;
  }

  .campu select {
    margin: 10px;
    width: 210px;
  }

  .campu {
    text-align: center;
    justify-content: center;
  }

  .role {
    margin: 0px;
  }

  button {
    padding: 0 40px;
  }

  ul {
    text-align: center;
  }

  .campu select,
  .campu input {
    background: var(--white);
  }
  .campu .alert {
    margin-left: 195px;
  }
  .popoverUser {
    right: 30px;
    top: 25px;
    padding: 0px;
  }
}
