.chat_container {
  margin-top: 48px;
  margin-left: 8px;
  margin-right: 8px;
}

.form_chat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  border: 2px solid var(--gray-dark-color);
}

.inbox {
  padding: 8px;
  background: var(--gray-menu);
  height: 350px;
  overflow-y: scroll;
  border-radius: 10px;
  text-align: center;
}

.text_in span,
.text_out span {
  font-size: 14px;
}

.form_chat input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 8px;
}

.form_chat i {
  font-size: 22px;
  padding: 8px;
  color: var(--red-primary-color);
}

.msg_in,
.msg_out {
  width: 100%;
  margin-top: 8px;
}

.text_in p {
  background: var(--gray-dark-color);
  padding: 8px;
  border-radius: 10px;
}

.text_out p {
  background: var(--red-primary-color);
  color: white;
  padding: 8px;
  border-radius: 10px;
}

p span {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.msg_in .text_in,
.msg_out .text_out {
  display: flex;
  flex-direction: column;
}

.msg_in .text_in {
  align-items: flex-start;
}

.msg_out .text_out {
  align-items: flex-end;
}

/* Tablet */

@media (min-width: 768px) {
  .inbox {
    padding: 16px;
    min-height: 80vh;
  }

  .inbox *,
  p span {
    font-size: 20px;
  }

  .chat_container {
    min-height: 80vh;
    margin-top: 0px;
  }

  .text_in span,
  .text_out span {
    font-size: 18px;
  }

  .form_chat input {
    font-size: 20px;
  }
}

/* Desktop */

@media (min-width: 1152px) {
  .inbox {
    padding: 16px;
    min-height: 70vh;
  }

  .chat_container {
    min-height: 80vh;
    margin-top: 80px;
  }

  .form_chat {
    width: 80%;
    margin: 16px auto;
  }
}
