<div class="content">
  <div class="auth_container">
    <div class="auth_header">
      <img src="/assets/image/Logo_SAT.svg" alt="Logo SAT" />
      <h1>SAT</h1>
      <p>Recuperar contraseña</p>
    </div>
    <form [formGroup]="formForgot" (submit)="onSubmit()" class="form_auth">
      <div
        class="form_input"
        [ngClass]="{
          error: email.invalid && (email.dirty || email.touched)
        }"
      >
        <input
          placeholder="Correo"
          formControlName="email"
          name="email"
          type="email"
          autocomplete="off"
          autofocus
          required
        />
        <i *ngIf="!email.invalid" class="fas fa-at fa-fw"></i>
        <i
          *ngIf="email.invalid"
          class="fas fa-exclamation-triangle pointer"
          id="email"
        ></i>
        <div class="popover">
          <ul *ngIf="email.invalid && (email.dirty || email.touched)">
            <li>* El correo es obligatorio</li>
          </ul>
        </div>
      </div>
      <div class="forgot">
        <a routerLink="/administrativo/iniciar-sesion">Ir a Iniciar Sesión</a>
      </div>
      <button [disabled]="formForgot.invalid || loading" type="submit">
        Recuperar contraseña
        <i *ngIf="loading" class="fas fa-spinner fa-pulse fa-fw"></i>
      </button>
    </form>
    <p class="copyright">2021 © Todos los derechos reservados</p>
  </div>
  <div class="ilustration">
    <img
      src="/assets/image/ilustration.svg"
      alt="Ilustración de una chica estudiando"
    />
  </div>
</div>
