<div class="content animate__animated animate__fadeIn">
  <h2>Lista de actividades <i class="fas fa-list-ul"></i></h2>
  <p class="act_note" *ngIf="!loading && activities.length < 1">
    El estudiante no ha participado en actividades.
  </p>
  <p class="act_note" *ngIf="!loading && activities.length > 0">
    Actividades en las que el estudiante ha asistido.
  </p>
  <app-loading *ngIf="loading"></app-loading>
  <div class="table_scroll">
    <table *ngIf="!loading && activities.length > 0">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Nombre</th>
          <th>Riesgo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of activities">
          <td>
            {{ item.date | date: "MMM d, y, hh:mm a" }}
          </td>
          <td>
            {{ item.name }}
          </td>
          <td>
            <div class="info_risk">
              <p>{{ item.risk }}</p>
              <div class="point {{ getColor(item.riskLevel) }}"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
