/* Desktop */

@media (min-width: 1152px) {
  .profile_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 48px;
  }

  .profile_container .card {
    width: 40%;
  }
}
