<div class="content">
  <div class="error_container">
    <div class="img_error">
      <img src="/assets/image/404-error.svg" alt="Imagen de error" />
    </div>
    <div class="rigth">
      <div class="logo">
        <img src="/assets/image/Logo_SAT.svg" alt="Logo SAT" />
      </div>
      <div class="options-error">
        <p>{{ message }}</p>
        <button (click)="toHome()">
          Intentar de nuevo <i class="fas fa-sync-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
