<div class="loading">
  <app-loading *ngIf="loading"></app-loading>
</div>

<div class="content animate__animated animate__fadeIn" *ngIf="!loading">
  <h1>Informacion de Permanencia</h1>
  <div class="dates">
    <div class="name_value">
      <h3>Fecha de ingreso:</h3>
      <p>{{ user.fechaingreso | date: "dd MMMM 'del' yyyy" }}</p>
    </div>
    <div class="name_value">
      <h3>Estado:</h3>
      <p>{{ user.estado | uppercase }}</p>
    </div>
    <div class="name_value">
      <h3>Semestres cursados:</h3>
      <p>{{ semesters.registered }}</p>
    </div>
  </div>

  <h2>Periodos Cursados</h2>
  <hr />
  <div class="content_table">
    <div class="table">
      <div class="comulun" *ngFor="let semester of semesters.data">
        <h5>{{ semester.fecha }}</h5>
        <div class="activate">
          <i class="fas fa-check" *ngIf="semester.promedio !== 'empty'"></i>
          <i class="fas fa-times" *ngIf="semester.promedio === 'empty'"></i>
        </div>
        <div class="average">
          <div [class]="semester.promedio"></div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <h2>Para tener en cuenta</h2>
  <div class="option">
    <p>Matriculado</p>
    <p><i class="fas fa-check"></i></p>
    <p>Cancelado</p>
    <p><i class="fas fa-times"></i></p>
  </div>

  <div class="dates_role">
    <div class="role">
      <h3>Su promedio fue mayor 4</h3>
      <p class="one"></p>
    </div>

    <div class="role">
      <h3>Su promedio fue entre 3 y 3.9</h3>
      <p class="two"></p>
    </div>

    <div class="role">
      <h3>Su promedio fue entre 0 y 2.9</h3>
      <p class="three"></p>
    </div>

    <div class="role">
      <h3>Sin promedio en ese semestre</h3>
      <p class="four"></p>
    </div>
  </div>
</div>
