<div class="content">
  <div class="auth_container">
    <div class="auth_header">
      <img src="/assets/image/Logo_SAT.svg" alt="Logo SAT" />
      <h1>SAT</h1>
      <p>Recuperar contraseña</p>
    </div>
    <form [formGroup]="formRecovery" (submit)="onSubmit()" class="form_auth">
      <div
        class="form_input"
        [ngClass]="{
          error:
            newPassword.invalid && (newPassword.dirty || newPassword.touched)
        }"
      >
        <input
          placeholder="Nueva Contraseña"
          formControlName="newPassword"
          name="newPassword"
          [type]="typePassword"
          autofocus
          required
        />
        <i
          *ngIf="!newPassword.invalid && !showPassword"
          (click)="changeShowPassword()"
          class="fas fa-eye fa-fw"
        ></i>
        <i
          *ngIf="!newPassword.invalid && showPassword"
          (click)="changeShowPassword()"
          class="fas fa-eye-slash fa-fw"
        ></i>
        <i
          *ngIf="newPassword.invalid"
          class="fas fa-exclamation-triangle pointer"
          id="newPassword"
        ></i>
        <div class="popover">
          <ul
            *ngIf="
              newPassword.invalid && (newPassword.dirty || newPassword.touched)
            "
          >
            <li>* Debe tener mínimo 4 caracteres</li>
          </ul>
        </div>
      </div>

      <div
        class="form_input"
        [ngClass]="{
          error:
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)
        }"
      >
        <input
          placeholder="Confirmar Contraseña"
          formControlName="confirmPassword"
          name="confirmPassword"
          [type]="typePassword2"
          required
        />
        <i
          *ngIf="!confirmPassword.invalid && !showPassword2"
          (click)="changeShowPassword2()"
          class="fas fa-eye fa-fw"
        ></i>
        <i
          *ngIf="!confirmPassword.invalid && showPassword2"
          (click)="changeShowPassword2()"
          class="fas fa-eye-slash fa-fw"
        ></i>
        <i
          *ngIf="confirmPassword.invalid"
          class="fas fa-exclamation-triangle pointer"
          id="confirmPassword"
        ></i>
        <div class="popover">
          <ul
            *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
          >
            <li>* Las contraseñas no coinciden</li>
          </ul>
        </div>
      </div>
      <button [disabled]="formRecovery.invalid || loading" type="submit">
        Actualizar contraseña
        <i *ngIf="loading" class="fas fa-spinner fa-pulse fa-fw"></i>
      </button>
    </form>
    <p class="copyright">2021 © Todos los derechos reservados</p>
  </div>
  <div class="ilustration">
    <img
      src="/assets/image/ilustration.svg"
      alt="Ilustración de una chica estudiando"
    />
  </div>
</div>
