.content {
  max-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background: var(--gray-color);
}

input[type="radio"] {
  display: none;
}

h1 {
  font-size: 40px;
  color: var(--dark-color);
  font-weight: 700;
  margin-top: -16px;
}

ul {
  list-style: none;
  text-align: justify;
  margin-left: 16px;
}

ul li {
  font-size: 14px;
  color: var(--red-primary-color);
}

.forgot {
  width: 100%;
  margin: 16px 8px 0 8px;
}

.forgot a {
  font-size: 14px;
}

.forgot a:hover {
  text-decoration: underline;
  transition: all 0.5s ease;
}

.auth_container {
  text-align: center;
}

.auth_header {
  margin: 16px 0;
}

.auth_header p {
  color: #a79e95;
}

.copyright {
  color: var(--red-primary-color);
  font-size: 10px;
}

.ilustration {
  visibility: hidden;
}

.fa-eye:hover,
.fa-eye-slash:hover {
  cursor: pointer;
  color: var(--red-primary-color);
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1151px) {
  img {
    width: 315px;
    height: 200px;
  }

  ul li,
  .forgot a {
    font-size: 16px;
  }

  .content {
    background-image: url("../../../../assets/image/background.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 48px;
    min-height: 100vh;
    max-height: initial;
  }

  .form_input {
    margin: 16px;
  }

  .copyright {
    display: none;
  }

  .ilustration {
    visibility: visible;
  }

  .ilustration img {
    width: 380px;
    height: 300px;
  }
}

/* Desktop */

@media (min-width: 1152px) {
  img {
    width: 192px;
    height: 121px;
  }

  button {
    margin-top: 16px;
    width: 100%;
  }

  ul li {
    margin: 0;
  }

  .content {
    background-image: url("../../../../assets/image/background_desktop.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 112px;
    min-height: 100vh;
  }

  .copyright {
    display: none;
  }

  .ilustration {
    visibility: visible;
  }

  .ilustration img {
    width: 530px;
    height: 425px;
  }

  .auth_container {
    min-width: 420px;
  }

  .form_input {
    width: 100%;
    margin-top: 16px;
  }

  .auth_header {
    width: 100%;
    margin: 32px 0;
  }

  .auth_header {
    margin-left: 16px;
  }

  .content {
    padding: 58px;
  }
}
