.item_course {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    background: var(--gray-menu);
    border-radius: 16px;
    margin-top: 48px;
    position: relative;
    z-index: -1;
  }
  
  .item_course h3 {
    font-size: 14px;
    font-weight: bold;
  }
  
  .item_course i {
    color: var(--white);
    background: var(--red-primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    position: absolute;
    right: 40px;
    bottom: -25px;
  }
  
  /* Tablet & Desktop */
  
  @media (min-width: 768px) {
    .item_course {
      width: 195px;
      height: 195px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 80px;
    }
  
    .item_course h3 {
      font-size: 20px;
    }
  
    .item_course i {
      width: 60px;
      height: 60px;
      line-height: 60px;
      right: 65px;
      font-size: 20px;
    }
  }
  
  /* Desktop */
  
  @media (min-width: 1152px) {
    .item_course {
      margin-top: 0;
    }

    
  }
  