.course_container {
  text-align: center;
  margin: 32px 16px;
}

.course_container a {
  float: right;
  margin: 16px 0;
}

.info_course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}

.info-item {
  width: 100%;
}

.info-item h2 {
  border-radius: 10px;
  font-weight: bold;
  color: var(--dark-color);
  background: var(--gray-menu);
}

.info-item * {
  padding: 8px;
}

/* Tablet */

@media (min-width: 768px) {
  .course_container {
    margin: 32px 32px;
  }

  .course_container a,
  .info_course * {
    font-size: 20px;
  }
}

/* Desktop */

@media (min-width: 1152px) {
  .row_header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .course_container {
    padding-top: 32px;
  }

  .info_course {
    flex-direction: row;
    justify-content: center;
  }

  .info-item {
    width: unset;
  }
}
